.divSaludo {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divHijo {
    background: whitesmoke;
    padding: 1rem;
    border: 2px solid #FFE6D4;
    margin: 1rem;
}