* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.miNavegador {
    background: #FFE6D4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemDeMenu {
    list-style-type: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.linkMenu {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    color: rgb(185, 142, 84);
}

.linkMenu:hover {
    transition: all 0.5s;
    background: #ffd2b1;
    border-radius: 10px;

}

.listaDesplegable {
    background: whitesmoke;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.5rem;
}

.linkMenuDesp {
    transition: all 1s;
    float: none;
    width: 190px;
    margin: 0.3rem;
}

.linkMenuDesp:hover {
    background: #ffd2b1;
    border-radius: 10px;
}

.mostrarSubmenu:hover>.listaDesplegable {
    display: block;
}

.mostrarSubmenu:hover {
    transition: all 0.5s;
    background: #ffd2b1;
    border-radius: 10px;
}

.letraDif {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: black;
}

.botonCarrito {
    background: #FFE6D4;
    color: rgb(185, 142, 84);
    border: 0px;
}

.botonCarrito:hover {
    background: #ffd2b1;
}

@media screen and (max-width: 700px) {
    .miNavegador {
        flex-direction: column;
        text-align: left;
    }

    .miNavegador>.menuNav {
        align-self: flex-start;
    }

    .listCarrito {
        align-self: flex-end;
    }
}